<md-card fxFlex [routerLink]="[id]">
  <md-card-header>
    <img md-card-avatar *ngIf="thumbnail" [src]="thumbnail" />
    <md-card-title class="text-truncate">
      {{ title | elipsis:35 }}
    </md-card-title>
    <md-card-subtitle *ngIf="subtitle" class="text-truncate">
      {{ subtitle | elipsis:40 }}
    </md-card-subtitle>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <p *ngIf="description" md-scroll-y>{{ description }}</p>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-footer>
    <!--<bc-book-authors [book]="book"></bc-book-authors>-->
  </md-card-footer>
</md-card>