<div fxLayout="column" fxFill>
  <section fxFlex class="bgc-purple-500 tc-grey-50">
    <div fxFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="bg-cover pad">
      <div fxFlex="45" fxFlex.xs="100">
        <h1 class="md-display-1 push-top-xs push-bottom-sm">Angular Workshop - Book Collection</h1>
        <p class="md-title ">A responsive showcase application that uses Google´s books Web API to query information</p>
      </div>
      <div fxFlex="55" fxFlex.xs="100">
        <md-icon svgIcon="icons:bookshelf" class="icon-logo"></md-icon>
      </div>
    </div>
  </section>
  <section class=" bgc-grey-50">
    <div fxLayout="column" fxLayoutAlign="center stretch" class="pad">
      <div fxLayout="row" fxLayout.xs="column">
        <a fxFlex md-button [routerLink]="['/books/collection']">
          <md-icon class="md-display-2 ">book</md-icon>
          <div>Collection</div>
        </a>
        <a fxFlex md-button [routerLink]="['/books/store']">
          <md-icon class="md-display-2 ">search</md-icon>
          <div>Store</div>
        </a>
      </div>
    </div>
  </section>
  <section class="bgc-blue-grey-900 tc-blue-grey-100">
    <div layout-gt-xs="row" layout-align-gt-xs="space-around center">
      <div layout-gt-sm="row" flex-gt-xs="75" layout-align="space-around center" class="pad">
        <p flex class="md-headline">Created for showcase purpose. Source code is free to use under the MIT license.</p>
        <md-icon class="brand-icon" svgIcon="icons:angular"></md-icon>
      </div>
    </div>
  </section>
</div>