<td-layout-nav logo="icons:bookshelf" navigationRoute="/">
  <div td-toolbar-content layout="row" layout-align="center center" fxFlex>
    <span>Book Collection</span>
    <span fxFlex></span>
    <a md-icon-button mdTooltip="Collection" routerLink="/books/collection">
      <md-icon>book</md-icon>
    </a>
    <a md-icon-button mdTooltip="Store" routerLink="/books/store">
      <md-icon>search</md-icon>
    </a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/jotatoledo/angular-workshop" target="_blank">
      <md-icon svgIcon="icons:github"></md-icon>
    </a>
  </div>
  <div class="md-content" fxFlex md-scroll-y>
    <router-outlet></router-outlet>
  </div>
  <td-layout-footer>
    <div fxLayout="row" fxLayoutAlign="start center">
      <span class="md-caption">Angular Workshop - Book Collection</span>
      <span fxFlex></span>
      <div fxLayout="row" fxLayoutAlign="start center">
        <strong class="md-caption">Made with</strong>
        <md-icon class="md-icon-ux push-left-xs push-right-xs" svgIcon="icons:heart"></md-icon>
        <strong class="md-caption">by <a href="https://github.com/jotatoledo" target="_blank">José Toledo N.</a></strong>
      </div>
    </div>
  </td-layout-footer>
</td-layout-nav>