<td-layout-nav logo="icons:bookshelf" navigationRoute="/">
  <div td-toolbar-content layout="row" layout-align="center center" fxFlex>
    <span>Book Collection</span>
    <span fxFlex></span>
    <a md-icon-button mdTooltip="Github" href="https://github.com/jotatoledo/angular-workshop" target="_blank">
      <md-icon svgIcon="icons:github"></md-icon>
    </a>
  </div>
  <div class="md-content" fxFlex md-scroll-y>
    <router-outlet></router-outlet>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">
        Angular Workshop - Book Store
      </span>
      <span fxFlex></span>
      <!--<md-icon class="md-icon-ux" svgIcon="assets:bosch_brand_small"></md-icon>-->
    </div>
  </td-layout-footer>
</td-layout-nav>