<td-layout-nav logo="icons:bookshelf" navigationRoute="/">
  <div td-toolbar-content layout="row" layout-align="center center" fxFlex>
    <span>Books Collection</span>
    <span fxFlex></span>
    <a md-icon-button mdTooltip="Github" href="https://github.com/jotatoledo/angular-workshop" target="_blank">
      <md-icon svgIcon="icons:github"></md-icon>
    </a>
  </div>
  <div class="md-content" fxFlex md-scroll-y>
    <router-outlet></router-outlet>
  </div>
  <td-layout-footer>
    <div fxLayout="row" fxLayoutAlign="start center">
      <span class="md-caption">Angular Workshop - Books Collection</span>
      <span fxFlex></span>
      <div fxLayout="row" fxLayoutAlign="start center">
          <span class="md-caption">Made with</span>
          <md-icon class="md-icon-ux push-left-xs push-right-xs" svgIcon="icons:heart"></md-icon>
          <span class="md-caption">by BueP/ICO</span>
      </div>
    </div>
  </td-layout-footer>
</td-layout-nav>