<ng-template tdLoading="app.loading" tdLoadingType="linear" tdLoadingMode="indeterminate" tdLoadingStrategy="overlay" tdLoadingColor="accent">
</ng-template>
<td-layout #layout>
    <td-navigation-drawer navigationRoute="/" sidenavTitle="Book Collection" name="Firstname Lastname" logo="icons:bookshelf"
        email="firstname.lastname@bosch.com">
        <md-nav-list>
            <a md-list-item routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" (click)="layout.close()">
                <md-icon md-list-avatar>home</md-icon>
                <h3 md-line>Home</h3>
                <p md-line class="secondary">Landing page</p>
            </a>
            <a md-list-item routerLink="/books/collection" routerLinkActive="active" (click)="layout.close()">
                <md-icon md-list-avatar>book</md-icon>
                <h3 md-line>My Collection</h3>
                <p md-line class="secondary">View your book collection</p>
            </a>
            <a md-list-item routerLink="/books/store" routerLinkActive="active" (click)="layout.close()">
                <md-icon md-list-avatar>search</md-icon>
                <h3 md-line>Search books</h3>
                <p md-line>Find your next book!</p>
            </a>
        </md-nav-list>
    </td-navigation-drawer>
    <td-layout-nav logo="icons:bookshelf" navigationRoute="/">
        <button md-icon-button td-menu-button tdLayoutToggle>
            <md-icon>menu</md-icon>
        </button>
        <div td-toolbar-content fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <span fxHide.xs>Book Collection</span>
            <span fxFlex></span>
            <a md-icon-button mdTooltip="Collection" routerLink="/books/collection">
                <md-icon>book</md-icon>
            </a>
            <a md-icon-button mdTooltip="Store" routerLink="/books/store">
                <md-icon>search</md-icon>
            </a>
            <a md-icon-button mdTooltip="Github" href="https://github.com/jotatoledo/angular-workshop" target="_blank">
                <md-icon svgIcon="icons:github"></md-icon>
            </a>
        </div>
        <div class="md-content" fxFlex md-scroll-y>
            <router-outlet></router-outlet>
        </div>
        <td-layout-footer>
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="md-caption" fxHide.xs>Angular Workshop - Book Collection</span>
                <span fxFlex></span>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <strong class="md-caption">Made with</strong>
                    <md-icon class="md-icon-ux push-left-xs push-right-xs" svgIcon="icons:heart"></md-icon>
                    <strong class="md-caption">by <a href="https://github.com/jotatoledo" target="_blank">José Toledo N.</a></strong>
                </div>
            </div>
        </td-layout-footer>
    </td-layout-nav>
</td-layout>