<mat-card *ngIf="book">
  <mat-card-title-group>
    <img mat-card-sm-image *ngIf="thumbnail" [src]="thumbnail" />
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p [innerHtml]="description"></p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="start">
    <button mat-raised-button color="warn" *ngIf="inCollection" (click)="handleRemove()">
      Remove Book from Collection
    </button>
    <button mat-raised-button color="primary" *ngIf="!inCollection" (click)="handleAdd()">
      Add Book to Collection
    </button>
  </mat-card-actions>
</mat-card>