<mat-card *ngIf="book">
  <mat-card-title-group>
    <img mat-card-sm-image *ngIf="thumbnail" [src]="thumbnail" />
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-card-content> <p [innerHtml]="description"></p> </mat-card-content>
  <ng-container *ngIf="actionsTemplate">
    <mat-divider></mat-divider>
    <mat-card-actions align="start">
      <ng-container *ngTemplateOutlet="actionsTemplate; context: actionContext"></ng-container>
    </mat-card-actions>
  </ng-container>
</mat-card>
