/* You can add global styles to this file, and also import other style files 
    see https://material.angular.io/guide/theming
*/
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

/*(optional) Additional themes*/
/*@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';\*/

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// base,default,lighter,darker
$primary: mat-palette($mat-deep-purple, 500);
$accent: mat-palette($mat-green, 700, A100, A400);
// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red, A700);
// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

.dark-theme {
    $dark-primary: mat-palette($mat-blue-grey);
    $dark-accent:  mat-palette($mat-indigo, A200, A100, A400);
    $dark-warn:    mat-palette($mat-deep-orange);
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

    @include angular-material-theme($dark-theme);
    @include covalent-theme($dark-theme);
}

md-nav-list {
    [md-list-item].active {
        md-icon[md-list-avatar] {
            background-color: mat-color($accent);
            color: mat-color($accent, default-contrast)
        }
        md-icon[md-list-icon] {
            color: mat-color($accent);
        }
    }
}