<md-card fxFlex class="cursor-pointer" [routerLink]="[id]">
  <md-card-header class="pad-sm">
    <img md-card-sm-image *ngIf="thumbnail" [src]="thumbnail" />
    <md-card-title>
      <span>{{ title | elipsis:30 }}</span>
    </md-card-title>
    <md-card-subtitle>
      <span>{{ subtitle | elipsis:30 }} </span>
    </md-card-subtitle>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <h3>Description</h3>
    <p *ngIf="description; else elseBlock">{{ description | elipsis: 300 }}</p>
    <ng-template #elseBlock>
      <p>No description available</p>
    </ng-template>
  </md-card-content>
</md-card>